<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCheck</title>
    <link rel="stylesheet" href="../public/css/style.css"/>
    
</head>
<body>
    <h1>Data from the Server:</h1>
    <div id="data-container">
        <!-- Data fetched from the server will be inserted here -->
    </div>
    <script src="/main.js"></script>
</body>
</html>